
/* ----------------------------------- */
/* Basic setup */
/* ----------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  /* choose a font */
}

html,
body {
    text-rendering: optimizeLegibility;
    overflow: auto;
    max-width: 1400px;
}

figure, h1 {
    padding: 0;
    margin: 0;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.center {
    text-align: center;
}

/* ----------------------------------- */
/* Header */
/* ----------------------------------- */

header {
    background-color: #e6ac00;
}

header h1 {
    padding-top: 15px;
    padding-bottom: 4px;
    font-weight: 700;
    font-size: 34px;
}
header p {
    padding-top: 4px;
    padding-bottom: 13px;
    font-weight: 400;
    font-size: 16px;
}

/* ----------------------------------- */
/* Section */
/* ----------------------------------- */

section {
    margin-top: 23px;
    margin-bottom: 20px;
}

/* ----------------------------------- */
/* Search */
/* ----------------------------------- */

#search-box {
    margin: 25px 15px 0 15px;
}

.query {
    width: 70%;
    max-width: 540px;
    height: 30px;
}

.search-button {
    background-color: #e6ac00;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    vertical-align: middle;
    margin: 0 10px;
}

.search-button:hover {
    background-color: bisque;
    cursor: pointer;
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}

/* ----------------------------------- */
/* Row */
/* ----------------------------------- */

section .col-4 {
    margin-top: 12px;
}

/* ----------------------------------- */
/* Columns */
/* ----------------------------------- */

.box {
    border: 1px solid lightgray;
}
.box img {
    width: 100%;
    height: auto;
}
.box img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
    opacity: 0.3;
}

.more-button {
    background-color: #e6ac00;
    width: 50px;
    border-radius: 10px;
    vertical-align: middle;
    padding: 5px 0;
    margin: 5px;
    font-weight: 400;
    font-size: 13px;
}
.more-button:hover {
    background-color: bisque;
    cursor: pointer;
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}

/* ----------------------------------- */
/* Tooltips */
/* ----------------------------------- */

div.tooltip {position: relative;}
div.tooltip span {display: none;}
div.tooltip:hover {text-indent: 0;}

div.tooltip:hover span {
    color: #fff;
    background: rgba(0, 3, 51, 0.8);

    border: 1px solid #ccc;    /* stand out a little */

    text-align: left;         /* render as normal text */
    padding: 8px 12px;        /* space around the text */
    border-radius: 5px;       /* soften the corners */

    z-index: 100;
    display: block;
    position: absolute;

    left: 10%;                /* in effect, margin */
    right: 10%;
    top: 20%;                /* vertical positioning */
}

div.tooltip:hover span p.title {    /* style title and description separately */
    font-weight: 700;
    font-size: 14px;
}
div.tooltip:hover span p.description {
    font-weight: 400;
    font-size: 10px;
}

/* ----------------------------------- */
/* Buttons */
/* ----------------------------------- */

.button {
    background-color: #e6ac00;
    width: 100px;
    border-radius: 30px;
    vertical-align: middle;
    padding: 5px 0;
    margin: 5px;
}
.button:hover {
    background-color: bisque;
    cursor: pointer;
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}
